.navbar-nav .nav-link {
    position: relative;
  }
  
  .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fd310d;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
  }
  
  .custom-btn {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.custom-btn.primary {
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
}

.custom-btn.warning {
  background: linear-gradient(135deg, #ff9800, #e68900);
  color: white;
}

.custom-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.custom-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-btn:hover::before {
  opacity: 1;
}
